:root {
  --toolbarHeight: 40px;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: aliceblue;
}

.row.header {
  height: var(--toolbarHeight);
}

.row.content {
  background-color: white;
  height: calc(100vh - var(--toolbarHeight));
}

.inputContainer {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - var(--toolbarHeight));
}

.canvasContainer {
  overflow-x: auto;
  overflow-y: auto;
  max-height: calc(100vh - var(--toolbarHeight));
  max-width: 75vw;
}